body {
    background: radial-gradient(black, #131313);
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
}

main {
    width: 100%;
    padding-top: 6rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 1.875rem;
    height: 100%;
    color: white;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
}

.mySlides {
    width: 50%;
}

.mySlides2 {
    width: 45%;
}

.mySlides3 {
    width: 45%;
}

.info {
    width: 45%;
    text-align: justify;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-size: 1.5625rem;
    margin: 0;
    color: white;
}

span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8125rem;
    color: white;
}

span>h1 {
    text-align: center;
}

.slide {
    width: 100%;
    border-radius: 3.125rem;
    animation-name: fade;
    animation: fade 5s infinite;
}

@keyframes fade {
    from {
        opacity: .5
    }
    ;
    to {
        opacity: 1
    }
    ;
}

.slide2 {
    width: 100%;
    border-radius: 3.125rem;
    animation-name: fade;
    animation: fade 5s infinite;
}

.slide3 {
    width: 100%;
    border-radius: 3.125rem;
    animation-name: fade;
    animation: fade 5s infinite;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.btn {
    padding: 0.625rem;
    margin-top: 0.625rem;
    border-radius: 0.625rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    align-self: center;
    background: radial-gradient(#5f5e5e, #363636);
    color: white;
    border: none;
}

.btn:hover {
    background: radial-gradient(#4baabb, #044761);
    cursor: pointer;
    color: white;
}

.btnSubmit {
    padding: 0.438rem;
    margin-top: 0.625rem;
    border-radius: 0.625rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    align-self: center;
    background: radial-gradient(#5f5e5e, #363636);
    color: white;
    border: none;
    width: 6.25rem;
}

.btnSubmit:hover {
    background: radial-gradient(#4baabb, #044761);
    cursor: pointer;
    color: white;
}

.adress a:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.mob a:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.priceList {
    width: 38%;
}

.priceList>img {
    width: 100%;
    border-radius: 3.125rem;
}

#priceList {
    margin-top: 1.875rem;
    display: flex;
    justify-content: space-around;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 100%;
}

#boat {
    display: flex;
    padding-left: 1.875rem;
    padding-bottom: 1.875rem;
    align-items: center;
    justify-content: space-around;
}

.contacts {
    display: flex;
    padding: 0 1.875rem 1.875rem 1.875rem;
    align-items: center;
    justify-content: space-around;
}

#team {
    margin-top: 1.875rem;
}

.photo {
    width: 50%;
}

.member {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.whoiswho {
    width: 45%;
    padding: 0 1.25rem;
    text-align: justify;
}

.whoiswho>h1, .message>h1 {
    font-size: 1.5625rem;
    text-align: center;
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
}

.photo>img {
    width: 100%;
    border-radius: 12.5rem;
}

.message {
    width: 50%;
    padding-right: 1.875rem;
}

.message>span {
    margin-bottom: 1.25rem;
}

.message2 {
    width: 100%;
    color: white;
    padding-top: 1.25rem;
}

iframe {
    width: 50%;
    border-radius: 1.25rem;
    margin-top: 1.25rem;
}

.error {
    color: red;
}

.form-label {
    font-size: 0.8125rem;
}

@media screen and (max-width: 1280px) {
    body {
        width: 1200px;
    }
}

@media screen and (max-width: 1140px) {
    body {
        width: 1024px;
    }
}

@media screen and (max-width: 992px) {
    body {
        width: 970px;
    }
}