.header {
    background-color: black;
    width: 100%;
    height: 3.125rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}

.logo {
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 1.875rem;
}

.adress {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 0.9375rem;
    padding-top: 0.8125rem;
}

.mob {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 0.9375rem;
    padding-top: 0.8125rem;    
}

.insta {
    padding-top: 0.625rem;  
}

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    display: flex;
    justify-content: space-around; 
    width: 100%;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 0.875rem;
    color: white;
}

.nav {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8125rem;
    color: white;
    background: radial-gradient(#525252, #131313);
    display: flex;
    justify-content: space-around;  
    z-index: 1;
}

li {
    list-style-type: none;
    display: table-cell;
    position: relative;
    text-align: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}
